<h1>効果音一覧</h1>
  <% @soundeffect.each do |t| %>
    <div class="soundeffect">
      <%= t.body %>
      #ここから追記
　　　　<audio src= "<%= "#{t.file}" %>" controls="">
         <a src="<%= "#{t.file}" %>">ダウンロード</a>
       </audio>
　　　 #ここまで追記
    </div>
  <% end %>